.add-badge-dropdown-wrapper {
    .dropdown-enter-twitter-id {
        resize: none;
        border: none;
        outline: none;
    }

    .add-badge-dropdown-wrapper {
        flex: 3;
    }

    .add-badge-dropdown-wrapper2 {
        flex: 9;
        margin-right: 30px;
    }
}