a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

Link {
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

.home-wrapper {
  background-color: #202020;
  
}

@media (min-width: 1200px) {
  .container {
    width: 976px;
  }
}
